{{> header }}

<div class="container">
    <form action="." method="get">
        <input type="text" name="q" value="{{query}}">
    </form>

    <ul class="pokemon-list">
        {{#pokemon}}
        <li><a href="{{url}}">{{name}}</a></li>
        {{/pokemon}}
    </ul>
</div>

{{> footer }}
