{{> header }}

{{#details}}
<div>
    <header>
        <h2>{{name}}</h2>
        <p>{{species}}
    </header>
    <div>
        <img src="{{img}}">
    </div>
    <div>
        <h3>Abilities:</h3>
        <ul>
            {{#abilities}}
            <li>{{.}}</li>
            {{/abilities}}
        </ul>
    </div>
    <div>
        <h3>Height:</h3>
        <p>{{height}}</p>
        <h3>Weight:</h3>
        <p>{{weight}}</p>
    </div>
</div>
{{/details}}

{{> footer }}
